html{
    height: 100%;
}
/*
body{
    background-image: linear-gradient(to top, rgba(217, 222, 230, 0.2), rgb(220, 225, 230));
    height: 100%;
}*/

body::after {
  content: "";
  background: url(background.jpg);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  z-index: -1;   
}